body {
    margin: 0;
    padding: 0;
    background-color: rgba(130, 55, 55);
}

div {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    color: white;
}

.th {
    font-size: x-large;
}

.header1 {
    background-color: rgba(160, 41, 51);
    font-size: 32px;
    padding-left: 20px;
    color: rgb(226, 166, 14);
    padding-top: 5px;
    padding-bottom: 5px;
}

.littletitle {
    font-size: x-large;
    font-weight: bold;
}

table {
    line-height: 50px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-left: 50px;
    padding-right: 50px;
}

td:hover {
    background-color: rgba(160, 41, 51);
}

.bc {
    background-color: rgb(187, 153, 66);
}

.right{
    text-align: right;
}

.center {
    text-align:center;
}

p {
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.tip{
    line-height: 50px;
}

.indent{
    Text-indent: 2em;
}
/* 首行缩进 */
.subject{
    padding-top: 20px ;
    padding-bottom: 20px;
}
/* 专题板块 */
.bankuai{
    margin-top: 15px;
}
/* div大板块用 */