body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

div {
    width: 80%;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    color: rgb(192, 17, 17);
}

.th {
    font-size: x-large;
}

.header1 {
    background-color: rgb(192, 17, 17);
    font-size: 32px;
    color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.littletitle {
    font-size: x-large;
    font-weight: bold;
}

table {
    line-height: 50px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-left: 50px;
    padding-right: 50px;
}

td:hover {
    background-color: whitesmoke;
}

.bc {
    background-color: white;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

p {
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.tip {
    padding-top: 5px;
    padding-bottom: 5px;
}

.indent {
    Text-indent: 2em;
}

/* 首行缩进 */
.bankuai {
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* div大板块用 */
.daonian {
    background-color: dimgray;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* 悼念板块专用 */